@media(max-width:576px) {

    /* header section */
    header {
        display: none;
    }

    /* feature section */
    .feature-content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .feature-img {

        grid-template-columns: 1fr;
    }

    .feature-text button {
        margin-bottom: 20px;
    }

    /* architect section */
    .architect-content {
        flex-direction: column;

    }

    /* fact section */
    .fact-content {
        flex-direction: column;
    }

    .fact-card {
        margin-bottom: 20px;
    }

    .fact-title {
        text-align: center;
    }

    .fact-title h1 {
        border-left: none;

    }

    /* Sponspors section */


}