* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;

}

.btn {
    background-color: #FF900E;
    color: white;
    padding: 18px 30px;
    border-radius: 5px
}

.btn:hover {
    transition: 0.5s;
    background-color: white;
    color: #FF900E;
    border: 1px solid #FF900E;
}

/* header section */
header {
    background-color: rgba(255, 144, 14, 0.10);
}

.header {
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.logo h1 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;

}

.navbar {}

.navbar ul {
    display: flex;

}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #424242;


    font-size: 18px;

    font-weight: 500;

}

/* banner section */
.banner {
    padding-top: 50px;
    background-color: rgba(255, 144, 14, 0.10);
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.banner-content {
    text-align: center;
}

.banner-text {}

.banner-text h1 {
    padding-top: 30px;
    color: #131313;
    font-size: 40px;
    font-weight: 700;

}

.banner-text p {
    padding-top: 15px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;

}

.banner-text a {}

.banner-img {
    margin-top: 50px;
}

.banner-img img {
    width: 100%;
}

/* feature section */
.feature {
    margin-bottom: 100px;
}

.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-img {
    flex-basis: 48%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-img img {
    width: 100%;
}

.feature-text {
    flex-basis: 48%;
}

.feature-text h1 {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;

}

.feature-text p {
    margin-bottom: 30px;
    color: #727272;

    font-size: 16px;

    font-weight: 400;

}

.feature-text button {

    border: none;
}


/* architect section */
.architect {
    margin-bottom: 100px;
}

.architect-content {
    display: flex;
    justify-content: space-between;

}

.architect-text {
    flex-basis: 45%;
}

.architect-title {
    margin-bottom: 40px;
}

.architect-title h1 {
    border-left: 5px solid #FF900E;
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
    color: #131313;
    font-size: 28px;
    font-weight: 700;
}

.architect-title p {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.architect-text-content {}

.architect-card {
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
}

.architect-card h3 {
    color: #131313;
    font-size: 16px;
    font-weight: 600;
}

.architect-card p {
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
}

.architect-img {
    position: relative;
    flex-basis: 45%;
}

.architect-img img {
    width: 100%;
}

.architect-img .exp {
    top: 88%;
    border-radius: 6px;
    display: inline-block;
    color: white;
    background-color: #FF900E;
    padding: 30px 51px;
    position: absolute;
    right: 72%;
}

.architect-img .exp h1 {}

.architect-img .exp p {}


/* fact section */
.fact {
    margin-bottom: 100px;
}

.fact-title {
    margin-bottom: 80px;
}

.fact-title h1 {
    border-left: 5px solid #FF900E;
    padding: 10px 10px 10px 20px;
    margin-bottom: 5px;
    color: #131313;
    font-size: 28px;
    font-weight: 700;
}

.fact-title p {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.fact-content {

    display: flex;
    justify-content: space-around;
}

.fact-card {
    text-align: center;
    border: 2px solid orange;
    padding: 30px;
}

.fact-card img {
    width: 40px;
}

.fact-card h4 {
    color: #424242;


    font-size: 22px;

    font-weight: 600;

}

.fact-card p {
    color: #727272;

    font-size: 14px;

    font-weight: 600;

}

/* Sponspors section */
.Sponspors {
    margin-bottom: 100px;
}

.Sponspors-title {
    margin-bottom: 80px;
    text-align: center;
}

.Sponspors-title h1 {
    margin-bottom: 5px;
    color: #131313;
    font-size: 28px;
    font-weight: 700;
}

.Sponspors-title p {
    color: #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.Sponspors-content {
    display: flex;
    justify-content: space-between;
}

.sponspors-card {}

.sponspors-card img {
    width: 70%;
}

/* footer section*/
footer {
    margin-bottom: 50px;
}

.footer-text {
    padding: 20px;
    border-radius: 6px;
    background-color: #FFF4E7;
    text-align: center;
}

.footer-text p {}




/* responsive section */


@media(max-width:576px) {

    /* header section */
    header {
        display: none;
    }

    /* feature section */
    .feature-content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .feature-img {

        grid-template-columns: 1fr;
    }

    .feature-text button {
        margin-bottom: 20px;
    }

    /* architect section */
    .architect-content {
        flex-direction: column;

    }

    /* fact section */
    .fact-content {
        flex-direction: column;
    }

    .fact-card {
        margin-bottom: 20px;
    }

    .fact-title {
        text-align: center;
    }

    .fact-title h1 {
        border-left: none;

    }

    /* Sponspors section */


}